<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
  <h1>Welcome to our website!</h1>
  <p>Thank you for registering. Your account has been created successfully.</p>
</body>
</html>