<h1>投稿一覧ページ</h1>
<div class = "container">
<% @articles.each do |article|%>
  <%= article.title%><br>
  <%= article.content%><br>

  <% if article.image.present? %>
   <img src="<%= url_for(article.image) %>" alt="Article Image"><br>
  <% else %>
    <img src= "/article_images/images.png" alt="Article Image"><br>
  <% end %>

<% end %>
</div>