@import "bootstrap";
// Place all the styles related to the TopPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
